res/plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Nov 12 2014 20:19:58 GMT+0100 (Europe de l’Ouest) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Reseau">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Noeud" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="LeTronconSortant" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="nomRue" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="vitesse" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="longueur" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="idNoeudDestination" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                       <xs:attribute name="x" type="xs:int"></xs:attribute>
                                       <xs:attribute name="y" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>